# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment Variables
.env

# IDE files
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# Logs
*.log

# Temporary files
*.tmp

# Database files
*.db
*.sqlite
